a.icon {
    margin-right: 1.5rem;
    color: #444;
}

a.icon:hover {
    color: rgb(120, 211, 120);
}

.fade-inline-enter {
    opacity: 0;
}

.fade-inline-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.fade-inline-exit {
    opacity: 1;
}

.fade-inline-exit-active {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}