:root {
  --background: white;
  --background-secondary: #eee;
  --text-primary: #222;
  --text-secondary: #999;
  --border: #eee;
  --accent: black;
  --accent-secondary: rgb(120, 211, 120);
}

[data-theme="dark"] {
  --background: #0d0d0f;
  --background-secondary: #aaa;
  --text-primary: white;
  --text-secondary: #ccc;
  --border: #222;
  --accent: goldenrod;
  --accent-secondary: rgb(120, 211, 120);
}

html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  transition: background-color 500ms;
}

.page {
  height: 100%;
  height: inherit;
  color: var(--text-primary);
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1rem;
  line-height: 1.25;
}

h3 {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    line-height: 2;
    text-transform: uppercase;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
}

p {
  margin-top: 0;
  /* text-align: justify; */
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 0.5rem;
}

#root {
  height: inherit;
}

.container {
  position: relative;
  width: 96%;
  max-width: 560px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--text-secondary);
  transition: color 400ms;
}

a:active,
a:hover {
  outline: 0;
  color: var(--accent);
}

li {
  text-align: left;
}

.navbar-item {
  text-align: center;
}

.header {
  padding-top: 7rem;
  padding-bottom: 2rem;
  text-align: center;
}

.docs-header {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.docs-section {
  padding: 3rem 1rem;
  margin-bottom: 0;
  scroll-margin-top: 3rem;
}

.example-block {
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
  border-radius: 0.5rem;
  transition: background-color 500ms ease-in-out;
}

.example-block:hover {
  background-color: var(--background-secondary);
}

.example-header {
  font-weight: 500;
  padding-bottom: 1rem;
  letter-spacing: 0.025rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--background);
  transition: background-color 500ms;
}

.navbar {
  text-align: center;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
  text-decoration: none;
  line-height: 3rem;
  color: var(--text-secondary);
}

.navbar-link.active {
  color: var(--accent);
}

.nav-title {
  display: none;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icon-list {
  text-align: center;
}

.icon {
  color: var(--text-secondary);
}

.icon:not(:last-child) {
  margin-right: 1.5rem;
}

.icon:hover {
  color: var(--accent-secondary);
}

.gallery {
  text-align: center;
}

.photo {
  margin: 6rem 0 12rem 0;
  width: 100%;
  cursor: default;
}

p a:hover {
  color: var(--accent-secondary);
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    padding-top: 10rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .photo.portrait {
    width: 62%;
  }

  .docs-section {
    padding: 3rem 0;
  }

  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0;
  }

  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    z-index: 99;
    /* border-bottom: 1px solid var(--border); */
  }

  .navbar-spacer {
    display: none;
  }

  .navbar > .container {
    width: 100%;
  }

  .navbar-list {
    justify-content: space-between;
  }

  .nav-title {
    display: unset;
  }

  .nav-icon {
    display: none;
  }

  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .has-docked-nav .navbar-spacer {
    display: block;
  }

  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%;
  }

  /* Popover */
  .popover.open {
    display: block;
  }

  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
    -moz-filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
  }

  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }

  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px;
  }

  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .popover-item {
    padding: 0;
    margin: 0;
  }

  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0;
  }

  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0;
  }

  .popover-link:hover {
    color: #fff;
    background: #33c3f0;
  }

  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33c3f0;
  }
}
