body {
  transition: background-color 500ms;
}

a {
  transition: color 500ms;
}

.example-block {
  transition: background-color 500ms ease-in-out;
}

nav {
  transition: background-color 500ms;
}

.header-color {
  transition: color 600ms;
}

.header-color:hover {
  cursor: pointer;
  background: radial-gradient(#fff700, #fc984c, #5a3e49, #32334d, #000000);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* -webkit-text-fill-color: transparent; */
}
